%h3 User profile
= image_tag avatar_url(@user)
%br
= @user.name
%br/
= @user.email
%br/
/= @user.photos.first.image(:thumb)
%br/
%h3 Albums
%ul
  - for album in @user.albums
    - photo = album.photos.plusminus_tally.order('plusminus_tally DESC').first
    %li
      = image_tag photo.image.thumb if photo.image?

- if can? :create, Album
  = link_to 'Create Album', new_album_path(:user_id => @user)
%hr
/must be into edit profile but is currently not working
/ = link_to 'Delete profile', @user, :method => :delete, :confirm => 'Are you sure? Many people love your photos!'


