


.grid-content-area
  - @user.albums.each do |album|
    .profile-grid-photo
      - if album.photos.empty?
        = link_to album, "TEST"
      - else
        - photo = album.photos.first
        = link_to album do
          = image_tag photo.image_url(:profile_grid)

.sidebar-content-area
  .sidebar-content
    = @user.name
    %br/
    = @user.email
    - if can? :create, Album
      = link_to 'Create Album', new_album_path(:user_id => @user)
    %h4 Albums
    %h1 #{@user.albums.count}
   



/must be into edit profile but is currently not working
/ = link_to 'Delete profile', @user, :method => :delete, :confirm => 'Are you sure? Many people love your photos!'


