%h3 User profile
= @user.name
%br/
= @user.email
%br/
= @user.image
%br/
%h3 Albums
%ul
  - for album in @user.albums
    - photo = album.photos.plusminus_tally.order('plusminus_tally DESC').first
    %li
      = link_to image_tag(photo.image, :width => "100px"), album

- if can? :create, Album
  = link_to 'Create Album', new_album_path(:user_id => @user)
%hr
/must be into edit profile but is currently not working
/ = link_to 'Delete profile', @user, :method => :delete, :confirm => 'Are you sure? Many people love your photos!'


