
.grid-content-area
  - @user.albums.each do |album|
    .profile-grid-photo
      - if album.photos.empty?
        = link_to album do
          = image_tag "/assets/new-album.png", class: "placeholder-album"
      - else
        - photo = album.photos.plusminus_tally.order('plusminus_tally DESC').first
        = link_to album do
          = image_tag photo.image_url(:profile_grid)
  - if can? :manage, @user
    .profile-grid-photo.add
      %p.add-album-plus +
      = form_for Album.new, html: { enctype: "multipart/form-data" } do |f|
        = f.text_field :title, placeholder: "Album Title"
        = f.text_field :description, placeholder: "Album Description"
        = text_field :photo, :title, placeholder: "Photo Title"
        = text_field :photo, :description, placeholder: "Photo Description"
        = file_field :photo, :image, class: "photo-upload"
        .actions
          = f.submit 'Create Album'

.sidebar-content-area
  .sidebar-content
    .profile-picture
      =link_to image_tag(avatar_url(@user)), @user
      %h3= @user.name
    .profile-links
      - if can? :update, User
        = link_to 'Edit Profile', edit_user_registration_path
    .sidebar-text
      %h1 Albums
      %span #{@user.albums.count}
      %h1 Photos
      %span #{@user.photos.count}
