%h3 Albums Page

= link_to "Create new album", new_album_path

- @albums.each do |album|
  %ul
    %li
      %h4= album.title
    %li
      = album.description
    %li
      = album.user_id
      / = image_tag album.photos.first.image, :width => "100px"
      = image_tag album.photos.sort_by{ |post| post.votes_for.size }.reverse.first.image, :width => "100px"
    = link_to "View Album", album_path(album)
    \|
    = link_to "Edit Album", edit_album_path(album)


