.album-grid
  - @photos.each do |photo|
    .album-photo
      = link_to image_tag(photo.image_url(:album_grid)), photo_path(photo)
.album-form-grid
  - if can? :manage, @album
    .album-form.album-form-content
      %h3 Add photo
      .notice=notice
      .add-photo-form
        %ul.errors
          - @photo.errors.full_messages.each do |error|
            %li= error
        = form_for(@photo) do |f|
          = hidden_field_tag :album_id, @album.id
          = f.text_field :title,  placeholder: "Title"
          = f.text_field :description, placeholder: "Description"
          .image-selector
            = f.file_field :image
          .input-tags
            = f.text_field :tag_list, id: "photo_tags_list", placeholder: "Tags"
          .album-form-button
            = f.submit


.sidebar-content-area
  .sidebar-content
    .profile-picture
      =link_to image_tag(avatar_url(@album.user)), @album.user
      %h3 #{@album.user.name}

    .sidebar-text
      %h1 Album Title
      %p= @album.title
      %h1 Description
      %p= @album.description

    - if can? :manage, @album
      = link_to "Edit Album", edit_album_path(@album)
      \|
      = link_to "Delete Album", album_path(@album), method: :delete
      %p
        = link_to 'Share on Facebook', "https://www.facebook.com/sharer/sharer.php?u=http://photo-app-wdi-group-3.herokuapp.com" + album_path(@album)

