%h3 Album Show

%p
  Album Title :
  = @album.title

%p
  Album Description :
  = @album.description

%h3 Form to Add photo
= form_for(@photo) do |f|
  = hidden_field_tag :album_id, @album.id
  = f.label :title
  = f.text_field :title
  = f.label :description
  = f.text_field :description
  = f.submit

%br

%h3 photos in album
- @album.photos.each do |photo|
  %ul 
    %li
      = photo.title
    %li
      = photo.description
  = link_to "show photo", photo_path(photo)
  \|
  = link_to "Remove photo", photo_path(photo), method: :delete
  %hr

= link_to "View all Albums", albums_path
\|
= link_to "Edit Album", edit_album_path(@album)
\|
= link_to "Delete Album", album_path(@album), method: :delete
\|
/ = link_to "Back to user profile", user_path(@album.user_id)
