%h3 Form to Edit a Photo
%ul.errors
  - @photo.errors.full_messages.each do |error|
    %li= error
= form_for(@photo) do |f|
  = f.label :title
  = f.text_field :title
  = f.label :description
  = f.text_field :description
  .input-row
    = f.label :tags
    = f.text_field :tag_list, id: "photo_tags_list"
  = f.submit
