.grid-content-area
  .album-form.album-form-content
    .add-photo-form
      %h3 Edit Photo
      %ul.errors
        - @photo.errors.full_messages.each do |error|
          %li= error
      = form_for(@photo) do |f|
        = f.text_field :title, placeholder: "Title"
        = f.text_field :description, placeholder: "Description"
        .input-tags
          = f.text_field :tag_list, id: "photo_tags_list", placeholder: "Tags"
        .album-form-button
          = f.submit

.sidebar-content-area
  .sidebar-content
    .profile-picture
      =image_tag avatar_url(@photo.album.user)
      %h3= @photo.album.user.name

    .sidebar-text
      %h1 Title
      %p= @photo.title
      %h1 Description
      %p= @photo.description
      - if !!@photo.votes
        %h1
          Score
        %span
          = (@photo.votes_for - @photo.votes_against)
