%h3= @photo.title

%p this is the photo

= @photo.description


%h3 Form to Add a Comment

= form_for(@comment) do |f|
  = hidden_field_tag :photo_id, @photo.id
  / = f.hidden_field :photo_id
  / = f.hidden_field :user_id
  = f.label :description
  = f.text_field :description
  %br/
  = f.submit


%p Comments
%ul
  - @photo.comments.each do |comment|
    %li
      = comment.description

= link_to "edit photo", edit_photo_path(@photo)

= link_to "add a comment", new_comment_path(@comment)



