%h3= @photo.title

%p this is the photo

= @photo.description


%h3 Form to Add a Comment

= form_for(@comment) do |f|
  = hidden_field_tag :photo_id, @photo.id
  = f.label :description
  = f.text_field :description
  %br/
  = f.submit


%p Comments
%ul
  - @photo.comments.each do |comment|
    %li
      = comment.description
    %li
      = comment.user.email
      = link_to 'Delete Comment'
      // waiting for the delete capacity


- if current_user.role?(:admin) || @photo.album.user == current_user
  = link_to "edit photo", edit_photo_path(@photo)





