.grid-content-area
  .grid-content-photo
    = link_to @photo.album do
      = image_tag @photo.image_url(:photo_resize)

    - if can? :vote_up, :vote_down, @photo
      %br
      - if current_user.voted_against?(@photo)
        %p You have voted against this photo
      - elsif current_user.voted_for?(@photo)
        %p You have voted for this photo
      - else current_user.voted_against?(@photo)
        = link_to 'UPVOTE', vote_up_photo_path(@photo), :method => :post, class: "form-button"
        
        = link_to 'DOWNVOTE', vote_down_photo_path(@photo), :method => :post, class: "form-button"

    - if can? :edit, @photo
      = link_to "Edit photo", edit_photo_path(@photo)


    - if can? :create, @comment
      %h3 Form to Add a Comment
      %ul.errors
        - @comment.errors.full_messages.each do |error|
          %li= error
    
      = form_for(@comment) do |f|
        = hidden_field_tag :photo_id, @photo.id
        = f.label :description
        = f.text_field :description
        = f.submit

    %p
      = link_to 'Share on Facebook', "https://www.facebook.com/sharer/sharer.php?u=" + photo_path(@photo)

    %p Comments
    %ul
      - @photo.comments.each do |comment|
        .comment-field
          .comment-user
            = comment.user.email
            - if can? :destroy, comment
              = link_to 'Delete Comment', comment, method: :delete
          .comment-text
            = comment.description

.sidebar-content-area
  .sidebar-content
    .profile-picture
      =image_tag avatar_url(@photo.album.user)
      %h3= @photo.album.user.name

    .sidebar-text
      %h1 Title
      %p= @photo.title
      %h1 Description
      %p= @photo.description
      - if !!@photo.votes
        %h1
          Score
        %span
          = (@photo.votes_for - @photo.votes_against)




