%h3= @photo.title
- if !!@photo.votes
  %h4
    Number of Up Votes =
    = @photo.votes_for

  %h4
    Number of Down Votes =
    = @photo.votes_against

%p this is the photo

= @photo.description

= image_tag @photo.image.photo_resize

%br
= link_to 'UP VOTE for this photo!', vote_up_photo_path(@photo), :method => :post
\|
= link_to 'DOWN VOTE for this photo!', vote_down_photo_path(@photo), :method => :post

%h3 Form to Add a Comment

= form_for(@comment) do |f|
  = hidden_field_tag :photo_id, @photo.id
  = f.label :description
  = f.text_field :description
  %br/
  = f.submit


%p Comments
%ul
  - @photo.comments.each do |comment|
    %li
      = comment.description
    %li
      = comment.user.email
      - if current_user.role?(:admin) || comment.user == current_user
        = link_to 'Delete Comment', comment, method: :delete


- if current_user.role?(:admin) || @photo.album.user == current_user
  = link_to "edit photo", edit_photo_path(@photo)





