!!!
%html
  %head
    %title PHTGRPHR
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:400,600,300", :rel => "stylesheet", :type => "text/css"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    = csrf_meta_tags
  %body7
  
    .user-nav.cf
      .nav-logo
        = link_to image_tag("/assets/logo.png"), root_path
      .nav-links
        - if user_signed_in?
          = link_to current_user do
            = image_tag avatar_url(current_user)
          = link_to 'Logout',  destroy_user_session_path, method: :delete
        - else
          / .not-signed-in-nav
          = link_to 'Sign up', new_user_registration_path
          = link_to 'Login', new_user_session_path
        %a.search  Search
        .overlay
          %span.close x
          = form_tag searches_path do
            = text_field_tag :query, nil, :class => 'search-input', :placeholder => 'search...',:autocomplete =>"off" 
    
    .yield
      = yield 




