!!!
%html
  %head
    %title PhotoApp
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "normalize", :media => "all"
    = stylesheet_link_tag    "main", :media => "all"
    = stylesheet_link_tag    "author", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  
    .user-nav.cf
      .nav-logo
        = image_tag "/assets/logo.png"
      .nav-links
        - if user_signed_in?
          = link_to "Logged in as #{current_user.email}", current_user 
          = link_to 'Logout',  destroy_user_session_path, method: :delete
        - else
          = link_to 'Sign up', new_user_registration_path
          = link_to 'Login', new_user_session_path
    .yield
      = yield 

/= form_tag searches_path do
/= label_tag :search
/= text_field_tag :query
/= submit_tag "Search"

/- flash.each do |name, msg|
/= content_tag :div, msg, :id => "flash_#{name}"
  

