!!!
%html
  %head
    %title PHTGRPHR
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700", :rel => "stylesheet", :type => "text/css"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:400,600,300", :rel => "stylesheet", :type => "text/css"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .feature
      .user-nav-home
        .nav-links-home
          - if user_signed_in?
            = link_to current_user do
              = image_tag avatar_url(current_user)
            = link_to 'Logout',  destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign up', new_user_registration_path

            = link_to 'Login', new_user_session_path
          %a.search Search
      .feature-content
        .logo.animated.fadeInDown
          = image_tag "/assets/logo.png"

        .overlay
          %span.close X
          = form_tag searches_path do
            = text_field_tag :query, nil, :class => 'search-input', :placeholder => 'search...',:autocomplete =>"off", autofocus: :autofocus
            / = submit_tag "Search"
        .tagline
          %h1 Creating beautiful albums of your favourite photos.
    .notice-style
      = notice
      = alert
    .pagination
      .grid-container-home.cf
        - @photos.each do |photo|
          - if photo.album.user
            .home-grid-photo{style: "background-image: url(#{photo.image_url(:home_grid)})"}
              .background-home-grid-photo
                .background-page-avatar-picture
                  = link_to image_tag(avatar_url(photo.album.user)), photo.album.user
                = link_to(photo) do
                  %h1.background
                    = photo.title
                  %h1.background
                    Score
                    .score-link
                      #{photo.votes_for - photo.votes_against }
    .william-paginate.cf= will_paginate @photos


